---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Home from '../components/Home.astro';
import Service from '../components/Service.astro';
import AboutUs from '../components/AboutUs.astro';
import ContacUs from '../components/ContacUs.astro';
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main>
		<Home />
		<Service />
		<AboutUs />
		<ContacUs />
	</main>
	<Footer />
</Layout>
