<div class="card flex flex-col pt-20 mx-4 md:mx-12 xl:mx-10 2xl:mx-24 md:pt-24 md:mb-10 dark:text-white transition duration-700 ease-in-out" id="sobreNosotros">
    <div class="mb-8 md:mb-16">
        <p class="text-center leading-normal text-4xl mx-5 md:text-5xl xl:text-6xl font-black">
            SOBRE NOSOTROS
        </p>
    </div>

    <div class="flex flex-col md:flex-col xl:flex-row justify-between">

        <div class="xl:basis-2/4 p-7 xl:px-10 xl:py-10 xl:mr-6 text-center bg-slate-200 rounded-xl dark:bg-slate-800">
            <p class="text-3xl md:text-3xl xl:text-4xl font-semibold mb-3 xl:mb-7 md:mx-4">NUESTRA MISIÓN</p>
            <p class="text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-5">
                Convertir cada vehículo en una herramienta de comunicación efectiva, llevando tu mensaje a donde más importa: las calles.</p>
            <p class="text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-5">
                Nos dedicamos a transformar empresas, publicitarias que generen alto impacto, ayudando a las marcas a alcanzar sus objetivos de visibilidad.</p>
            <div class="flex items-center justify-center mt-5 xl:mt-7">
                <img src="arrowup-black.svg" alt="" class="w-10 xl:w-16 dark:hidden ">
                <img src="arrowup-white.svg" alt="" class="w-10 xl:w-16 hidden dark:block">
            </div>
        </div>

        <div class="xl:basis-2/4 mt-6 md:mt-0 xl:mt-0 p-7 xl:px-10 xl:py-10 xl:ml-6 text-center bg-slate-200 rounded-xl dark:bg-slate-800">
            <p class="text-3xl md:text-3xl xl:text-4xl font-semibold mb-3 xl:mb-7">NUESTRO EQUIPO</p>
            <p class="text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-5">
                Nuestra creatividad y experiencia son la clave de nuestro éxito a lo largo de estos años en el mercado de la publicidad.</p>
            <p class="text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-5">
                Contamos con un equipo multidisciplinario de expertos en diseño, publicidad y marketing que trabajan mano a mano para 
                ofrecer soluciones personalizadas.</p>
                <div class="flex items-center justify-center mt-5 xl:mt-7">
                    <img src="group-black.svg" alt="" class="w-10 xl:w-16 dark:hidden">
                    <img src="group-white.svg" alt="" class="w-10 xl:w-16 hidden dark:block">
                </div>
        </div>

    </div>
    
    <div class="mt-6 p-7 md:px-10 md:py-10 md:mt-12 text-center bg-slate-200 rounded-xl dark:bg-slate-800">  
        <p class="text-3xl md:text-3xl xl:text-4xl font-semibold mb-3 xl:mb-7">NUESTROS VALORES</p>
        <p class="">
            <ul class="list-disc list-inside text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-3">
                <li>Confianza: Creemos en las relaciones a largo plazo con nuestros clientes, basadas en la honestidad y el compromiso.</li>
                <li>Calidad: Ofrecemos servicios de la más alta calidad, cuidando cada detalle para garantizar resultados efectivos.</li>
                <li>Innovación: Nos adaptamos a los cambios y tendencias del mercado, buscando siempre nuevas formas de llevar tu marca a otro nivel.</li>
            </ul>
        </p>
        <div class="flex items-center justify-center mt-7">
            <img src="hand-heart-black.svg" alt="" class="w-10 xl:w-16 dark:hidden">
            <img src="hand-heart-white.svg" alt="" class="w-10 xl:w-16 hidden dark:block">
        </div>
    </div>

    <div class="mt-6 p-7 md:px-10 md:py-10 md:mt-12 text-center bg-slate-200 rounded-xl dark:bg-slate-800">  
        <p class="text-3xl md:text-3xl xl:text-4xl font-semibold mb-3 md:mb-7">¿POR QUÉ ELEGIRNOS?</p>
        <p class="">
            <ul class="list-disc list-inside text-xl md:text-2xl xl:text-3xl leading-9 md:leading-relaxed xl:leading-relaxed py-3">
                <li>Trayectoria comprobada: Décadas de experiencia nos respaldan en el mercado publicitario.</li>
                <li>Cobertura integral: Trabajamos con todo tipo de vehículos, asegurando que tu mensaje llegue a todos los rincones.</li>
                <li>Resultados efectivos: Nos enfocamos en brindar resultados tangibles para impulsar tu marca.</li>
            </ul>
        </p>
        <div class="flex items-center justify-center mt-7">
            <img src="medal-line-black.svg" alt="" class="w-10 xl:w-16 dark:hidden">
            <img src="medal-line-white.svg" alt="" class="w-10 xl:w-16 hidden dark:block">
        </div>
    </div>

</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Bebas+Neue&family=Dela+Gothic+One&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=SUSE:wght@100..800&display=swap');
    
    .card{
        font-family: "SUSE", sans-serif;
        letter-spacing: 2px;
    }
    
</style>