<footer class="bg-slate-100 dark:bg-slate-800 ">
    <div class="flex flex-col divide-y divide-slate-400 px-10 py-5 text-center">
        <div class="pb-4 dark:text-white transition duration-700 ease-in-out">© 2025 Anuncia-t Todos los derechos reservados</div>
        <div class="flex justify-center pt-4">
            <a href="">
                <img src="icons8-facebook (2).svg" alt="facebook-icon" class="w-8 mx-2 dark:hidden">
                <img src="icons8-facebook (3).svg" alt="facebook-icon" class="w-8 mx-2 hidden dark:block">
            </a>
            <a href="">
                <img src="icons8-instagram (2).svg" alt="instagram-icon" class="w-8 mx-2 dark:hidden">
                <img src="icons8-instagram (3).svg" alt="instagram-icon" class="w-8 mx-2 hidden dark:block">
            </a>
            <a href="">
                <img src="icons8-tiktok (2).svg" alt="tiktok-icon" class="w-8 mx-2 dark:hidden">
                <img src="icons8-tiktok (3).svg" alt="tiktok-icon" class="w-8 mx-2 hidden dark:block">
            </a>
            <a href="">
                <img src="icons8-twitterx (2).svg" alt="twitter-icon" class="w-8 mx-2 dark:hidden">
                <img src="icons8-twitterx (3).svg" alt="twitter-icon" class="w-8 mx-2 hidden dark:block">
            </a>
            <a href="">
                <img src="icons8-youtube (2).svg" alt="youtube-icon" class="w-8 mx-2 dark:hidden">
                <img src="icons8-youtube (3).svg" alt="youtube-icon" class="w-8 mx-2 hidden dark:block">
            </a>
        </div>
    </div>
</footer>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Bebas+Neue&family=Dela+Gothic+One&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=SUSE:wght@100..800&display=swap');
    
    footer{
        font-family: "Anaheim", sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }
</style>
