<div class="card flex flex-col pt-20 md:mt-0 mx-4 md:mx-12 xl:mx-10 2xl:mx-24 md:pt-24 dark:text-white transition duration-700 ease-in-out" id="servicio">
    <div class="tittle">
        <p class="text-center leading-normal mb-6 mx-5 text-4xl md:text-5xl md:mx-20 md:mb-0 xl:text-6xl">
            TIPO DE SERVICIOS
        </p>
    </div>
    <div class="flex flex-col md:mt-0">

        <div class="flex flex-col p-5 md:p-7 xl:flex-row justify-around bg-slate-200 md:mt-16 xl:mt-16 xl:px-10 xl:py-16 rounded-xl dark:bg-slate-800">
            <div class="flex flex-col text-center justify-around xl:flex-1 xl:w-3/5 ">
                <p class="text-3xl md:text-3xl xl:text-5xl font-bold">MOTOS</p>
                <p class="text-xl md:text-2xl leading-9 xl:text-3xl md:leading-relaxed xl:leading-relaxed py-5 xl:px-10 xl:py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque animi necessitatibus aliquam, accusantium praesentium tenetur rerum vero iure minima consequuntur deleniti, cumque voluptatibus nisi ducimus doloremque quidem amet sed voluptatum.</p>
            </div>
            <div class="py-4 md:py-6 mx-auto xl:flex xl:flex-2 xl:w-2/5 md:justify-center">
                <img src="image-tree.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-110 md:hover:scale-110 xl:hover:scale-125">
            </div>
        </div>

        <div class="flex flex-col p-5 mt-5 md:p-7 xl:flex-row justify-around bg-slate-200 md:mt-16 xl:mt-16 xl:px-10 xl:py-16 rounded-xl dark:bg-slate-800">
            <div class="hidden md:hidden xl:flex py-4 mx-auto md:flex-2 md:w-2/5 md:justify-center">
                <img src="image-four.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-125">
            </div>
            <div class="flex flex-col text-center justify-around xl:flex-1 xl:w-3/5">
                <p class="text-3xl md:text-3xl xl:text-5xl font-bold">BUSES</p>
                <p class="text-xl md:text-2xl leading-9 xl:text-3xl md:leading-relaxed xl:leading-relaxed py-5 xl:px-10 xl:py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque animi necessitatibus aliquam, accusantium praesentium tenetur rerum vero iure minima consequuntur deleniti, cumque voluptatibus nisi ducimus doloremque quidem amet sed voluptatum.</p>
            </div>
            <div class="py-4 mx-auto xl:hidden">
                <img src="image-four.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-105 md:hover:scale-110 xl:hover:scale-125">
            </div>
        </div>

        <div class="flex flex-col p-5 mt-5 md:p-7 xl:flex-row justify-around bg-slate-200 md:mt-16 xl:mt-16 xl:px-10 xl:py-16 rounded-xl dark:bg-slate-800">
            <div class="flex flex-col text-center justify-around xl:flex-1 xl:w-3/5">
                <p class="text-3xl md:text-3xl xl:text-5xl font-bold">CAMIONES</p>
                <p class="text-xl md:text-2xl leading-9 xl:text-3xl md:leading-relaxed xl:leading-relaxed py-5 xl:px-10 xl:py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque animi necessitatibus aliquam, accusantium praesentium tenetur rerum vero iure minima consequuntur deleniti, cumque voluptatibus nisi ducimus doloremque quidem amet sed voluptatum.</p>
            </div>
            <div class="py-4 mx-auto md:flex md:flex-2 md:w-2/5 md:justify-center">
                <img src="image-five.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-105 md:hover:scale-110 xl:hover:scale-125">
            </div>
        </div>

        <div class="flex flex-col p-5 mt-5 md:p-7 xl:flex-row justify-around bg-slate-200 md:mt-16 xl:mt-16 xl:px-10 xl:py-16 rounded-xl dark:bg-slate-800">
            <div class="hidden md:hidden py-4 mx-auto xl:flex md:flex-2 md:w-2/5 md:justify-center">
                <img src="image-six.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-125">
            </div>
            <div class="flex flex-col text-center justify-around xl:flex-1 md:xl-3/5">   
                <p class="text-3xl md:text-3xl xl:text-5xl font-bold">TAXIS</p>
                <p class="text-xl md:text-2xl leading-9 xl:text-3xl md:leading-relaxed xl:leading-relaxed py-5 xl:px-10 xl:py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque animi necessitatibus aliquam, accusantium praesentium tenetur rerum vero iure minima consequuntur deleniti, cumque voluptatibus nisi ducimus doloremque quidem amet sed voluptatum.</p>
            </div>
            <div class="py-4 mx-auto xl:hidden">
                <img src="image-six.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-105 md:hover:scale-110 xl:hover:scale-125">
            </div>
        </div>

        <div class="flex flex-col p-5 mt-5 md:p-7 xl:flex-row justify-around bg-slate-200 md:mt-16 xl:mt-16 xl:px-10 xl:py-16 rounded-xl dark:bg-slate-800">
            <div class="flex flex-col text-center justify-around xl:flex-1 xl:w-3/5">
                <p class="text-3xl md:text-3xl xl:text-5xl font-bold">CARROS</p>
                <p class="text-xl md:text-2xl leading-9 xl:text-3xl md:leading-relaxed xl:leading-relaxed py-5 xl:px-10 xl:py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque animi necessitatibus aliquam, accusantium praesentium tenetur rerum vero iure minima consequuntur deleniti, cumque voluptatibus nisi ducimus doloremque quidem amet sed voluptatum.</p>
            </div>
            <div class="py-4 mx-auto md:flex md:flex-2 md:w-2/5 md:justify-center">
                <img src="image-seven.jpg" alt="" class="w-64 md:w-72 xl:w-96 border-4 border-black dark:border-white rounded-xl transition duration-700 ease-in-out hover:scale-105 md:hover:scale-110 xl:hover:scale-125">
            </div>
        </div>

    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Bebas+Neue&family=Dela+Gothic+One&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=SUSE:wght@100..800&display=swap');
    
    .card{
        font-family: "SUSE", sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .tittle{
        font-family: "SUSE", sans-serif;
        font-weight: 800;
    }
    
</style>